.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
}
.labelName {
	margin-left: 15px;
}
.button {
	width: 200px;
	cursor: pointer;
	margin-left: 50px;
}
